.welcomeNameCss {
    color:antiquewhite;
    z-index: 10;
    height: calc(90vh);
    padding-right: 20px;
}
.welcomeNameCss > div {
    text-align: right;
}

.whiteTextCss {
    color: #efefef;
}

/* Mobile devices */
@media screen and (max-width: 480px) and (min-width: 320px) {
    .siteNameCss {
        font-size: 1.2em;
    }
    .scrollInstCss {
        font-size: 0.7em;
    }
    .scroll-layer-section > p {
        font-size: 1.0em;
    }
}
/* Tablets */
@media screen and (max-width: 768px) and (min-width: 481px) {
    .siteNameCss {
        font-size: 1.5em;
    }
    .scrollInstCss {
        font-size: 0.8em;
    }
    .scroll-layer-section > p {
        font-size: 1.5em;
    }
}
/* small screens and Laptops */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .siteNameCss {
        font-size: 2.9em;
    }
    .scrollInstCss {
        font-size: 1.4em;
    }
    .scroll-layer-section > p {
        font-size: 1.8em;
    }
}
/* Desktops & Large Screens */
@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .siteNameCss {
        font-size: 3.5em;
    }
    .scrollInstCss {
        font-size: 1.4em;
    }
    .scroll-layer-section > div.infoSect {
        font-size: 2.1em;
    }
}
/* Extra large Screens and TVs */
@media screen and (min-width: 1201px) {
    .siteNameCss {
        font-size: 4em;
    }
    .scrollInstCss {
        font-size: 1.7em;
    }
    .scroll-layer-section > div.infoSect {
        font-size: 2.0em;
    }
}

.homeBKG  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;
  }

  .scroll-layer{
    position: absolute;
  }
  .scroll-layer-section{
    
  }
  .scroll-layer-section > div.nameInfoSect{
    text-align: right;
    font-size: 1.2em;
    min-width: 150px;
}
  .scroll-layer-section > div.infoSect{
    font-size: 1.2em;
  }

  .nav2 > div{
    text-decoration: underline;
  }

  .nav2 > div:hover{
    cursor: pointer;
    text-decoration: none;
  }
