.galleryWrapperCss {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.galleryImageCss {
    transition: opacity 1s;
    opacity: 1;
}
.galleryImageCss:hover {
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: 0.35;
}